@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: var(--font-text);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --std-width: 900px;
  --font-title: "Jost", sans-serif;
  --font-text: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}


/* componentes em assets: 
  Navbar 
  Search 
  Continent 
*/

/* pages em assets:
  ADD-AREA
  HOME
  LOGIN
*/

.general-container {
  max-width: var(--std-width);
  margin: 0 auto;
}

/* Main-Area */

.main-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 50px;
  column-gap: 10px;
}

.main-area .card {
  background-color: #fdf5e6;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  position: relative;
}

.main-area .card img {
  width: 100%;
  max-height: 110px;
  border-radius: 12px 12px 0 0;
}

/*
SEARCH
*/

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  width: 100%;
}

.search-flag {
  background-color: #fdf5e6;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

.search-flag img {
  max-width: 800px;
}

/*
  OPTIONS
*/
.options-btn {
  position: absolute;
  right: 5px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

/*
  UPDATE
*/

.update-btn {
  display: flex;
  bottom: 40px;
}

.delete-btn {
  bottom: 10px;
}

/*
  DELETE
*/

.delete-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px) {
  .main-area {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .main-area {
    grid-template-columns: 1fr;
  }
}
