:root {
  --std-width: 900px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Roboto", sans-serif;;
}
/* Navbar */
nav {
  background-color: #FFF8DC;
}

.nav-container {
  max-width: var(--std-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-container button{
  background: transparent;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transition: .4s;
}

.nav-container button:hover {
  color: #555;
}

.nav-logo {
  max-height: 50px;
  display: flex;
}

.nav-logo img {
  max-height: 50px;
  
}

/*
  HOME
*/


.general-container {
  max-width: var(--std-width);
  margin: 0 auto;
  
}

/* Search */

.search-area {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 100px 0;
}

.search-area form {
  width: 80%;

}

.search-area input {
  width: 100%;
  margin-bottom: 10px;
}



/* Main-Area */

.main-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 50px;
  column-gap: 10px;
}

.main-area .card {
  background-color: #FDF5E6;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  position: relative;
}

.main-area .card img {
  width: 100%;
  max-height: 110px;
  border-radius: 12px 12px 0 0;
}

/* Continent */

.continent {
  position: relative;
  right: 40px;
}

.continent-btn {
  cursor: pointer;

}

.continent-options {
  cursor: pointer;
  display: none;
  background-color: #FDF5E6;
  border: 2px solid #555;
}

.continent-options li {
  padding: 5px;
  border-bottom: 1px solid #555;
  width: 140px;
  font-size: .9rem;
  transition: .5s;
}

.continent-options li:hover {
  background-color: #eDe5E6;
}

.continent-options.active {
  display: block;
  position: absolute;
  margin-top: 10px;
  z-index: 1;
}

/*
  ADD-AREA
*/

.add-area {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-area form {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 12px;
  background-color: #FFF8DC;
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.add-area form input {
  margin: 10px 0;
  height: 40px;
  border: none;
  border-bottom: 1.7px solid #c1c1c1;
  outline: none;
}

.add-area form button {
  height: 40px;
  margin: 20px 0;
  cursor: pointer;
  font-weight: bold;
  background-color: lightsteelblue;
  border: none;
  border-radius: 5px;
  transition: .4s;
}

.add-area form button:hover {
  color: #fff;
}

.add-area form h3 {
  text-align: center;
  margin: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.error-input-msg {
  color: red;
  font-size: .9em;
  position: absolute;
  
}

.login-name {
  top: 150px;
  left: 30px;
}
.login-password {
  top: 220px;
  left: 30px;
}

/*
  SEARCH
*/

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  width: 100%;
}

.search-flag {
  background-color: #FDF5E6;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}


.search-flag img {
  max-width: 800px;
}

/*
  LOGIN
*/

.login-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  width: 300px;
  height: 380px;
  background-color: #FDF5E6;
  position: relative;
}

.login-container form h2 {
  text-align: center;
  font-family: "Jost", sans-serif;
}

.login-container form input {
  height: 35px;
  width: 80%;
  margin: 0 auto;
  border: none;
  border-radius: 8px;
  background-color: #eDe5d6;
  padding-left: 30px;
  
}

.login-container form button {
  height: 40px;
  cursor: pointer;
  width: 80%;
  margin: 0 auto;
  background-color: #000;
  color: #fff;
  font-family: "Jost", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  transition: .3s;
}

.login-container form button:hover {
  background-color: #222;
}

.login-container form span {
  width: 80%;
  margin: 0 auto;
  font-size: .9rem;
}

.login-container form span a {
  color: #800080;
}

.login-container form span a:hover {
  color: #a000a0;
  border-bottom: 1px solid #a000a0;
}

.login-container form i {
  position: absolute;

}

.login-container form .bx-user {
  top: 118px;
  left: 40px;
}

.login-container form .bx-lock {
  bottom: 177px;
  left: 40px;
}

/*
  OPTIONS
*/
.options-btn {
  position: absolute;
  right: 5px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.options-btn.active {
}

.update-btn {
  display: flex;
  bottom: 40px;
}

.delete-btn {
  bottom: 10px;
}